#FeedBackBtn {
  padding: 6px 14px;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid #eea236;
  border-radius: 4px;
  background-color: #f0ad4e;
}

#FeedBackModalForm .quill {
  margin-left: 0em !important;
  margin-right: 0em !important;
}

#FeedBackBtn:hover {
  border: 1px solid #eea236;
  background-color: #f5b965;
}
.sendFeedbackModal .ant-modal-footer {
  display: none;
}

/* .sendFeedbackModal .ant-modal-body {
  height: 44%;
} */

#FeedBackModalForm .ant-typography {
  font-size: 14px;
}
