<head>
	<title>
	{% block title %}{% endblock %}
	</title>
	{% load staticfiles %}
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://code.jquery.com/jquery-3.1.0.min.js"></script>
	<link rel="stylesheet" href="https://code.jquery.com/ui/1.8.18/themes/base/jquery-ui.css" type="text/css" media="all" />
	<script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.16/jquery-ui.min.js" type="text/javascript"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	
	
	<script src="{% static 'weekly_status/js/select-dropdown.js' %}"></script>
	<link rel="stylesheet" href="{% static 'weekly_status/css/select-dropdown.css' %}">
	
	<link rel="stylesheet" type="text/css" href="{% static 'uspl/css/styles.css' %}"/>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="shortcut icon" href="{% static 'uspl/img/favicon-32x32.png' %}" type="image/png">
	<link rel="icon" href="{% static 'uspl/img/favicon-32x32.png' %}" type="image/png">
	<script src="{% static 'uspl/js/jQuery-plugin-progressbar.js' %}"></script>
	<script src="{% static 'uspl/js/jquery.waypoints.min.js' %}"></script>
	<script src="{% static 'uspl/js/infinite.min.js' %}"></script>

	<link rel="stylesheet" href="{% static 'uspl/css/main.css' %}">
	<link rel="stylesheet" href="{% static 'weekly_status/css/status.css' %}">
	<link rel="stylesheet" href="{% static 'uspl/css/dashboard-pnl.css' %}">
	<link rel="stylesheet" href="{% static 'uspl/css/dashboard-pnl.sass' %}">
	<script src="{% static 'uspl/js/modernizr-2.6.2.min.js' %}"></script>
	<script src="{% static 'uspl/js/main.js' %}"></script>
	<script src="https://code.highcharts.com/highcharts.js"></script>
	<script src="https://rendro.github.io/easy-pie-chart/javascripts/jquery.easy-pie-chart.js"></script>
	<link rel="stylesheet" href="{% static 'uspl/css/animate.min.css' %}">
	<link rel="stylesheet" href="{% static 'uspl/css/notice_board.scss' %}">
	<script src="{% static 'weekly_status/js/autocomplete.js' %}"></script>
	<script src="{% static 'weekly_status/js/date.js' %}" type="text/javascript"></script>
	<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src="https://cdn.jsdelivr.net/jquery.validation/1.16.0/jquery.validate.min.js"></script>
	{% load notification_tags %}
	{% include_notify_js_variables %}
	<script src="{% static "notify/notifyX.js" %}"></script>
	{% block external_css %}{% endblock %}
	<style>
  #project-label {
    display: block;
    font-weight: bold;
    margin-bottom: 1em;
  }
  #project-icon {
    float: left;
    height: 32px;
    width: 32px;
  }
  #project-description {
    margin: 0;
    padding: 0;
  }
  </style>
  
</head>

<body>
	{% if request.path == '/' %}
		{% if dif_time < 5 %}
			<div id="loader-wrapper">
				<div id="loader"></div>
				<div class="loader-section section-left"></div>
		        <div class="loader-section section-right"></div>
			</div>
		{% endif %}
	{% endif %}
	<div id="content">
	<nav class="navbar navbar-inverse navbar-fixed-top"> <!--new nav style-->
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle" id ="side_toggle" data-toggle="collapse" data-target="#mySideNavbar">
					<span class="glyphicon glyphicon-home" id ="home_icon"></span>
				</button>
				<a id="logo_top" class="navbar-brand" href="{% url 'uspl:home' %}"><strong>U</strong>LKASEMI</a>
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
			</div>
			<div class="collapse navbar-collapse" id="myNavbar">
				<ul class="nav navbar-nav navbar-right">
					<li class="dropdown keep-inside-clicks-open" id="nf_dp_mobile" style="padding-top: 3px;">
						<a href="#" class="dropdown-toggle mark-all-notifications" data-mark-action="read" data-toggle="dropdown" id="drpdown_toggle_menu">
							<span><i class="fa fa-bell fa-fw" id="top-nav-bell-icon"></i></span>
							<div class="notifications-count">
								<div style="font-size:11px; margin-left:3px; margin-top:-22px;">
									<span class="label label-danger label-indicator animation-floating notification-counter"></span>
								</div>
							</div>
						</a>
						<ul class="dropdown-menu" id="notify_drop_down">
							<div class="notificationPanel">
								<div class="notificationContent">
									<div class="row" id="noti_span">
										<span>Notifications</span>
									</div>
									<div id="noti_scroll" class="notification-box-list">
										{% user_notifications for box %}
									</div>
									<div class="row" id="noti_span">
										<span><a href="{% url 'notifications:all' %}">View All</a></span>
									</div>
								</div>
							</div>
						</ul>
					</li>

					<li class="dropdown" id="topnav_dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" id="drpdown_toggle_menu"><span><i class="glyphicon glyphicon-envelope" id="top-nav-icon"></i></span>
                            <div class="notifications-count">
								<div style="font-size:11px; margin-left:-2px; margin-top:-22px;">
									<span class="label label-danger label-indicator" id="unread_mail_nav"></span>
								</div>
							</div>
                        </a>
                        <ul class="dropdown-menu" id="mail_drop_down">
                            <div class="row" id="mail_span">
                                <span>intraMail</span>
                            </div>
                            <div id="mail_scroll">
                                <li class="mail-notification-box">
                                    <div class="row"> 
                                        <a href="{% url 'weekly_status:new_status' %}"><i class="glyphicon glyphicon-edit"></i>&emsp;<strong>New Status Report</strong></a>
									</div>
								</li>
                                <li class="mail-notification-box">
                                    <div class="row"> 
                                        <a href="{% url 'weekly_status:inbox' %}" id="inbox_link"><i class="glyphicon glyphicon-inbox"></i>&emsp;<strong>Inbox&emsp;<span class="badge" id="unread_mail_body"></span></strong></a>
									</div>
								</li>
                                <li class="mail-notification-box">
                                    <div class="row"> 
                                        <a href="{% url 'weekly_status:sent_reports' %}"><i class="fa fa-paper-plane"></i>&emsp;<strong>Sent</strong></a>
									</div>
								</li>
                            </div>
                           <div class="row" id="mail_span">
                                <span></span>
                            </div>
                        </ul>
                    </li>
					
			
					<li><a href="{% url 'uspl:home' %}"><strong>Home</strong></a></li>
					<li><a href="{% url 'uspl:employee_profile' request.user.id %}"><strong>Profile</strong></a></li>
					<li><a href="{% url 'uspl:logout' %}"><span class="glyphicon glyphicon-log-out"></span> <strong>Logout</strong></a></li>
				</ul>
			</div>
		</div>
	</nav>

  	<div class="container-fluid">    
		<div class="row content">
			<div class="col-sm-2">
				<nav class="sidenav">
					<div class="collapse navbar-collapse" id="mySideNavbar">
						<ul class="nav nav-pills nav-stacked">
							<br><br>
							<div id="sidenav_logopic">
								<a href="{% url 'uspl:employee_profile' request.user.id %}">
									<img class="img-sidenav-logo" id="profile_logo" width="70" height="70" src="{{ request.user.profile.image.url }}" alt="{{ request.user.first_name }}"/>
								</a>
								<a href="{% url 'uspl:employee_profile' request.user.id %}">
									<h5 id = "profile_name">{{request.user.get_full_name}}</h5>
								</a>
								<h6 id="profile_desig">{% if request.user.teamleader_set.all %}Team Leader, <br>{% endif %}{{request.user.profile.dsg.title}}</h6>
							</div>
							<br>
							<li><a href="{% url 'uspl:home' %}">Home</a></li>
							{% if request.user.is_staff %}
						    	<button class="dropdown-btn" id="sidenav_grp">Groups<i class="fa fa-caret-down"></i></button>
								<div class="dropdown-container">
									{% if request.user.profile.is_hr %}
										{% for each_group in groups %}
											<a id ="dropdown-item" href="{% url 'uspl:group_members' each_group.id %}" >{{each_group.name}}</a>
										{% endfor %}
									{% else %}
										{% for each_group in groups %}
											<a id ="dropdown-item" href="{% url 'uspl:group_details' each_group.id %}" >{{each_group.name}}</a>
										{% endfor %}
									{% endif %}
								</div>
							{% elif request.user.groups.all.count >= 2 %}
								<button class="dropdown-btn" id="sidenav_grp">My Groups<i class="fa fa-caret-down"></i></button>
								<div class="dropdown-container">
									{% for group in request.user.groups.all %}
										<a id ="dropdown-item" href="{% url 'uspl:group_details' group.id %}" >{{group.name}}</a>
									{% endfor %}
								</div>
							{% else %}
								{% for group in request.user.groups.all %}
						    		<li><a href="{% url 'uspl:group_details' group.id %}">My Group</a></li>
						    	{% endfor %}
							{% endif %}
							{% if not request.user.profile.is_hr %}
								<li><a href="{% url 'uspl:own_project_list' %}">{% if request.user.is_staff %}Ongoing Projects{% else %}My Projects{% endif %}</a></li>
							{% endif %}
							{% if not request.user.is_staff %}
								<li><a href="{% url 'uspl:user_task_list_current' request.user.id %}">My Tasks</a></li>
				
								{% now "Y" as current_year %}
								<li><a href="{% url 'uspl:user_kpi' request.user.id current_year %}">KPI</a></li>
								<button class="dropdown-btn" id= "sidenav_grp">Issues<i class="fa fa-caret-down"></i></button>
								<div class="dropdown-container" id="side_issue_span">
									<a id ="dropdown-item" href="{%  url 'uspl:user_issues' request.user.id %}">
										Raised Issues
										{% if raised_issues.count > 0 %}
											<span class="badge">{{raised_issues.count}}</span>
										{% endif %}
									</a>
									{% if all_supervised_isuues.count > 0 %}
										<a id ="dropdown-item" href="{%  url 'uspl:supervised_issues' request.user.id %}">
											Supervised Issues
											{% if supervised_issues.count > 0 %}
												<span class="badge">{{supervised_issues.count}}</span>
											{% endif %}
										</a>
									{% endif %}
									<a id ="dropdown-item" href="{%  url 'uspl:solved_issues' request.user.id %}" >Solved Issues</a>
									<a id ="dropdown-item" href="{%  url 'uspl:users_group_issues' request.user.id %}" >Group Issues</a>
								</div>
							{% elif not request.user.profile.is_hr %}
								<button class="dropdown-btn" id= "sidenav_grp">Group Issues<i class="fa fa-caret-down"></i></button>
								<div class="dropdown-container" id="side_issue_span">
									{% for group in groups %}
										<a id ="dropdown-item" href="{%  url 'uspl:group_issues' group.id %}" >{{group.name}}</a>
									{% endfor %}
								</div>
							{% endif %}
							
							{% if request.user.is_staff %}
								<li><a href="{% url 'uspl:group_members_all' %}">Manage Members</a></li>
								<li><a href="{% url 'uspl:create_user' %}">Create New User</a></li>
								<li><a href="{% url 'uspl:hr_group_list' %}">Manage Groups</a></li>
								<li><a href="{% url 'uspl:hr_dsg_list' %}">Job Title & Descriptions</a></li>
								<li><a href="{% url 'uspl:hr_notice_list' %}">Notice Board</a></li>
							{% endif %}
							
							<button class="dropdown-btn" id= "sidenav_grp">Reports<i class="fa fa-caret-down"></i></button>
							<div class="dropdown-container" id="side_issue_span">
								<a id ="dropdown-item" href="{% url 'weekly_status:summary' %}">Work Summary</a>
							</div>
							<li><a href="{% url 'uspl:contact_us' %}">Contact Us</a></li>
							
						</ul>
					</div>
				</nav>
	    	</div>
	    	{% block content %}{% endblock %}
	    	{% block news %}{% endblock %}
	    </div>
	</div>
	</div>
	<script type="text/javascript">
		/* Loop through all dropdown buttons to toggle between hiding and showing its dropdown content - This allows the user to have multiple dropdowns without any conflict */
	    var dropdown = document.getElementsByClassName("dropdown-btn");
	    var i;
	
	    for (i = 0; i < dropdown.length; i++) {
		    dropdown[i].addEventListener("click", function() {
		    this.classList.toggle("active");
		    var dropdownContent = this.nextElementSibling;
		    if (dropdownContent.style.display === "block") {
		      dropdownContent.style.display = "none";
		    } else {
		      dropdownContent.style.display = "block";
		    }
		  });
		}
		
    </script>
    
    <script type="text/javascript">
        // Override updateSuccess
        var modUpdateSuccess = window.updateSuccess;
        window.updateSuccess = function (response) {
            // Get unread_count from response
            var unread_count = response.unread_count;
            if (unread_count > 0) {
                // Element where display count
                // Mine is like this:
                // <span class="label label-primary label-indicator animation-floating notification-counter"></span>
                $('.notification-counter').show();
                $('.notification-counter').text(unread_count);
            } else if (unread_count == 0) {
                $('.notification-counter').hide();
            }
            modUpdateSuccess(response);
        }
    </script>
    
    
    <script>
    	$(document).on('click.bs.dropdown.data-api', '.dropdown.keep-inside-clicks-open', function(e) {
    		e.stopPropagation();
    	});
    </script>
    
    <script>
    	$(document).ready(function() {
			$.ajax({
	        	type: "GET",
			    url: '{% url 'weekly_status:get_unread_mail' %}',
			    success: function(data) {
			    	if (data.unread_mail > 0) {
				    	$('#unread_mail_nav').html(data.unread_mail);
				    	$('#unread_mail_body').html(data.unread_mail);
			    	} else {
			    		$('#unread_mail_nav').html("");
			    		$('#unread_mail_body').html("");
			    	}
			    }
		    });
    		setInterval(
    			function() {
	    			$.ajax({
			        	type: "GET",
					    url: '{% url 'weekly_status:get_unread_mail' %}',
					    success: function(data) {
					    	if (data.unread_mail > 0) {
						    	$('#unread_mail_nav').html(data.unread_mail);
						    	$('#unread_mail_body').html(data.unread_mail);
					    	} else {
					    		$('#unread_mail_nav').html("");
					    		$('#unread_mail_body').html("");
					    	}
					    }
				    });
    			}
    		, 1000*60*15)
    	})
    </script>
	
    {% block external_js %}{% endblock %}
</body>