{% extends "uspl/base.html" %}
{% load staticfiles %}
{% block title %}Contact Us{% endblock %}

{% block content %}
<div class="col-sm-8" id="base-main-body"> 
    <div class="row">
	   	<div class="col-sm-12">
			<div id="main-body-div">
				<br>
				<div class="row" id="main_body_header">				
					<p><b>The Developer Team</b></p>
				</div>
				<br>
				<div class="row">
					<div class="col-md-8" id="contact-us-msg">
						<form  method="post">
							{% csrf_token %}
							<input class="form-control" name="name" value="{{request.user.get_full_name}}" readonly /><br>
							<input class="form-control" name="email" value="{{request.user.email}}" readonly /><br>
							<textarea class="form-control" name="text" rows="15" placeholder="Write your feedback or suggestions here..." required ></textarea><br>
							<button class="btn btn-primary" type="submit" name="send_feedback">Send</button><br><br>
						</form>
					</div>
			  
					<div class="col-md-4">
						<img src="{% static 'uspl/img/simul-barua.jpg' %}" id="dev-pic" class="img-circle" width="40" height="40" alt="Simul Barua"><b>Simul Barua</b> <br>
						Employee ID: 141001<br>
						E-mail: <a href="mailto:support@mysite.com">simul@ulkasemi.com</a><br>
						<p id = "contact_info">Senior Engineer, Team Leader<br>
							Front-End Verification<br>
							<br><br>
						</p>
						
						<img src="{% static 'uspl/img/Rashik_Tahmid.jpg' %}" id="dev-pic" class="img-circle" width="40" height="40" alt="Rashik Tahmid"><b>Rashik Tahmid</b> <br>
						Employee ID: 171201<br>
						E-mail: <a hre="mailto:support@mysite.com">rashik@ulkasemi.com</a><br>
						<p id = "contact_info">Associate Engineer,<br>
							Front-End Verification<br>
							<br><br>
						</p>
						
						<img src="{% static 'uspl/img/Benazir_Mustafa.jpg' %}" id="dev-pic" class="img-circle" width="40" height="40" alt="Benazir Mustafa"><b>Benazir Mustafa</b><br>
						Employee ID: 171202<br>
						E-mail: <a href="mailto:support@mysite.com">benazir@ulkasemi.com</a><br>
						<p id = "contact_info">Associate Engineer,<br>
							Front-End Verification<br>
							<br><br>
						</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block news %}
{% if not request.user.profile.is_hr %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Recent Activities</b></p><br>
		<div class="scrollbar">
			{% for news in newses %}
				<div class="row event">
					<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
						<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
					</div>
					<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
						<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
						<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
				<p id="news_header"><b><a href="{% url 'uspl:news_list' 1 %}">View All</a></b></p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}