{% extends "uspl/base.html" %}
{% load staticfiles %}

{% block title %}Delete Project{% endblock %}

{% block content %}
<div class="col-sm-8" id="base-main-body">
  <h1>Delete entire group: {{ group.name }}?</h1>
  {% if user_count != 0 %}
    <p>Category tally:</p>
    <ul>
      <li>Users: {{ user_count }} </li>
      <li>Projects: {{ project_count }} </li>
    </ul>
    <p> ... all of which will be irretrievably <strong>deleted</strong>.
      Are you sure you want to do that?
    </p>
  {% else %}
    <p>Group is empty and safe to delete.</p>
  {% endif %}
      
  <form action="" method="post" accept-charset="utf-8">
    {% csrf_token %}
    <input type="hidden" name="group" value="{{ group.id }}">
    <p>
      <a href="{% url 'uspl:hr_group_list' %}" class="btn btn-success">Return to Group List</a>
      <input type="submit" name="delete-confirm" value="Do it! &rarr;" class="btn btn-danger">
    </p>
  </form>
</div>
{% endblock %}