<td id="col1User"><label for="id_full_name"></label></td>
<td style="border:none">
	<div class="col-xs-6" id="col11">
		<select id="id_report_to" class="form-control selectpicker" name="reports_to" required>
			<option value="">Select Manager</option>
			{% for manager in managers %}
			<option value="{{manager.id}}" data-thumbnail="{{manager.profile.image.url}}">{{manager.get_full_name}}</option>
			{% endfor %}
		</select>
	</div>
	<div class="col-xs-6" id="col12">
		<select id="id_dsg" class="form-control" name="dsg" required>
        	<option value="">Select Designation</option>
        	{% for dsg in dsgs %}
            <option value="{{ dsg.id }}">{{ dsg.title }}</option>
            {% endfor %}
        </select>
	</div>
</td>