{% extends "uspl/base.html" %}
{% block title %}All Projects: {{group.name}}{% endblock %}

{% block content %}
<div class="col-sm-8" id="base-main-body"> 
    <div class="row">
	   	<div class="col-sm-12">
	   		<br>
	   		<div id="main-body-div">
	   			{% if projects %}
		   		{% regroup projects by completed as section_list %}
				{% for completed in section_list %}
					<div class="row" {% if completed.grouper == True %}id="solved_issue_header"{% else %}id="main_body_header"{% endif %}>			
				        <p><b>{% if completed.grouper == True %}Completed {% else %}Ongoing {% endif %}Projects</b></p>
					</div>
					<br>	
					<div class="table-responsive">
						<table  class="table table-hover">
							<thead>
								<tr>
									<th>Project Title</th>
									<th>Started On</th>
									<th>Due Date</th>
									{% if completed.grouper == True %}
										<th>Completed On</th>
									{% else %}
										<th>Status</th>
									{% endif %}
								</tr>
							</thead>
							<tbody>
								{% for project in completed.list %}
									<tr>
										<td><a href="{% url 'uspl:project_detail' project.id %}">{{project.name}}</a></td>
										<td>{{project.created_date}}</td>
										<td>{{project.due_date}}</td>
										{% if completed.grouper == True %}
											<td>{{project.completed_date}}</td>
										{% else %}
											<td id="progress-td">
												{{project.get_completeion_rate|floatformat:"2"}}%
												<div class="progress" id="progress-status">
													<div class="progress-bar" role="progressbar" aria-valuenow="{{project.get_completeion_rate}}" aria-valuemin="0" aria-valuemax="100" style="width:{{project.get_completeion_rate}}%">
													</div>
												</div>
											</td>
										{% endif %}
									</tr>
								{%endfor%}
							</tbody>
						</table>
					</div>
					<br>
				{% endfor %}
				<br>
				<div class="row" align="center">				
					{% if projects.has_other_pages %}
	                    <ul class="pagination">
	                        {% if projects.has_previous %}
	                        	<li><a href="?page=1">&laquo;</a></li>
	                            <li><a href="?page={{ projects.previous_page_number }}">&lt;</a></li>	
	                        {% endif %}
	                        
	                         {% for num in projects.paginator.page_range %}
	                        	{% if projects.number == num %}
									<li class="active"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
								{% elif num > projects.number|add:'-3' and num < all_news.number|add:'3' %}
									<li><a href="?page={{ num }}">{{ num }}</a></li>
								{% endif %}
	  						{% endfor %}
	                        
	                        
	                        {% if projects.has_next %}
	                            <li><a href="?page={{ projects.next_page_number }}">&gt;</a></li>
	                            <li><a href="?page={{ projects.paginator.num_pages }}">&raquo;</a></li>
	                        {% endif %}
	                    </ul>
	                {% endif %}
				</div>
				{% else %}
					<div class="row" id="main_body_header">			
				        <p><b>Projects</b></p>
					</div>
					<br>
					<div class="row">
						<h4 id="not-available-msg">No Projects available</h4>
					</div>
				{% endif %}
			</div>
		</div> 	
	</div>
</div>
{% endblock %}

{% block news %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Group Activities</b></p><br>
		<div class="scrollbar modern-skin">
			{% if group_news %}
				{% for news in group_news %}
					<div class="row event">
						<div class="col-xs-4 col-md-4 col-lg-3" >
							<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
						</div>
						<div class="col-xs-8 col-md-8 col-lg-9" id="news_msg">
							<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
							<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
						</div>
					</div>
					<hr>
				{% endfor %}
				</div>
				<p id="news_header"><b><a href="{% url 'uspl:group_news_all' group.id %}">View All</a></b></p>
			</div>
			{% else %}
				<h3 id="not-available-msg">No Recent Activities.</h3>
			{% endif %}
		</div>
	</div>
</div>

{% endblock %}
    
    

