{% extends "uspl/base.html" %}
{% load staticfiles %}
{% block title %} {{group.name}} {% endblock %}

{% block content %}
<div id="base-main-body" class="col-sm-8">
	<div class="row">
		<div class="col-sm-12">
			<div id="main-body-div">
				<br>
				<div id="main_body_header" class="row">
					<p><b>{{group.name}}</b></p>
				</div>
				
				<div class="col-sm-8">
					<div class="card" id="dash_table_height_grp">
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title">Group Details </h4>
						</div>
						<div id="dashboard_grp_table" style="margin-bottom:30px" class="card-body table-responsive">
							<table class="table table-hover">
								<tr>
									<td id = "member_grp"><b>Group</b></td>
									<td id = "grp_description">
										{{group.name}}
									</td>
								</tr>		
								<tr>
									<td id = "member_grp"><b>Team Leader</b></td>
									{% if group.teamleader %}
										<td id ="tooltip_designation">
											{% for user in group.teamleader.employees.all %}
												<a href="{% url 'uspl:employee_profile' user.id %}">
													<img class="img-circle" id="member_pic" src="{{ user.profile.image.url }}" alt="{{ user.first_name }}" title="{{ user.get_full_name}}"/>
												</a>
											{% endfor %}
										</td>
									{% else %}
										<td id = "grp_description">
											Not Declared.
										</td>
									{% endif %}
									
								</tr>
								<tr>
									<td id = "member_grp"><b>Total Members</b></td>
									<td id = "grp_description">{{group.user_set.all.count}}</td>
								</tr>
								<tr>
									<td id = "member_grp"><b>Ongoing Projects</b></td>
									<td id = "grp_description">{{projects_count}}</td>
								</tr>
								<tr>
									<td id = "member_grp"><b>Busy Members</b></td>
									<td id = "grp_description">{{busy_members}}</td>
								</tr>
								<tr>
									<td id = "member_grp"><b>Idle Members</b></td>
									<td id = "grp_description">{{idle_members}}</td>
								</tr>
							</table>
						</div>
						<br>
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title">Total Task Overview<p class="badge" id="proj_num">{{total_tasks.count}}</p></h4>
						</div>
						<br>
						{% if total_tasks.count > 0 %}
							<div class ="row">
								<div class="col-sm-4">
									<ul class="pieID dash_member">
										<li style="border-color: #000e24">
											<em>Completed</em>
											<span>{{completed_tasks}}</span>
										</li>
										<li style="border-color: #2c5ea9">
											<em>Ongoing</em>
											<span>{{ongoing_tasks}}</span>
										</li>
										<li style="border-color: #3c92d3">
											<em>Paused</em>
											<span>{{paused_tasks}}</span>
										</li>
										<li style="border-color: #7bcef3">
											<em>Waiting For Review</em>
											<span>{{waiting_for_review_tasks}}</span>
										</li>
										<li style="border-color: #C6E2FF">
											<em>Not Started Yet</em>
											<span>{{not_started_tasks}}</span>
										</li>
									</ul>
								</div>
								<div class="col-sm-8">
									<div id="pie_cont_group" style="background-color: transparent; min-width: 150px; height: 245px; max-width: 226px; margin: 2% 9% !important"></div>
								</div>
							</div>
						{% else %}
							<div class ="row">
								<h4 id="not-available-msg">No Ongoing Tasks</h4>
							</div>
						{% endif %}
						
						
						
						
						
					</div>
				</div>
				<div class="col-sm-4">
					<div class="card">
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title">Members <a href="{% url 'uspl:group_members' group.id %}" id="dashboard_viewproject">View All</a></h4>
						</div>
						<div id="dashboard_grp_table" class="card-body table-responsive">
							<table class="table table-hover">
								<tbody>
								{% for employee in users %}
									<tr>
										<td>
											<a href="{% url 'uspl:employee_profile' employee.id %}">
												<img src="{{ employee.profile.image.url }}" class="img-circle" width="30" height="30" alt={{employee.first_name}}>
											</a>
											<a href="{% url 'uspl:employee_profile' employee.id %}">{{employee.get_full_name}}</a>
											{% for st in status %}
												{% if forloop.counter == forloop.parentloop.counter %}
													{% if st %}
														<p class="badge" id="busy_badge">Busy</p>
													{% else %}
														<p class="badge" id="idle_badge">Idle</p>
													{% endif %}
												{% endif %}
											{% endfor %}
											<br>
											<small class="text-muted">{% if employee.teamleader_set.all %}Team Leader, {% endif %}{{employee.profile.dsg.title}}</small>
										</td>
									</tr>
								{% endfor %}
								</tbody>
							</table>
						</div>
					</div>
					<div class="card" id="other_table_height">
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title">Others</h4>
						</div>
						<br>
					</div>
				</div>
				<div class="row">
				   	<div class="col-sm-12">
				   		<br>
						<div class="row" id="main_body_header">			
							<p><b>Ongoing Projects</b></p>
						</div>
						{% if projects %}
						<div class="table-responsive">
							<table  class="table table-hover">
								<thead>
									<tr>
										<th>Project Title</th>
										<th>Started On</th>
										<th>Due Date</th>
										<th>Status</th>
									</tr>
								</thead>
								<tbody>
									{% for project in projects %}
										<tr>
											<td><a href="{% url 'uspl:project_detail' project.id %}">{{project.name}}</a></td>
											<td>{{project.created_date}}</td>
											<td>{{project.due_date}}</td>
											<td id="progress-td">
												{{project.get_completeion_rate|floatformat:"2"}}%
												<div class="progress" id="progress-status">
													<div class="progress-bar" role="progressbar" aria-valuenow="{{project.get_completeion_rate}}" aria-valuemin="0" aria-valuemax="100" style="width:{{project.get_completeion_rate}}%">
													</div>
												</div>
											</td>
										</tr>
									{% endfor %}	
								</tbody>
							</table>
							<br>
						</div>
						{% else %}
							<br>
							<div class="row">
								<h4 id="not-available-msg">No Ongoing Projects Available</h4>
							</div>
							<br>
						{% endif %}
						{% if not request.user.profile.is_hr %}
						<center class ="wrapper">
							<a href="{% url 'uspl:group_project_list' group.id %}" class="btn btn-success" style="margin-bottom:10px"><b>View All Projects</b></a>
							{% if request.user.is_staff  or request.user in group.teamleader.employees.all %}
								<button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addProject" style="margin-bottom:10px"><span class="glyphicon glyphicon-plus"></span> Add New Project</button>
							{% endif %}
						</center>
						{% endif %}
						<br>
						<br>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>


<!--Add Project Modal -->
<div class="modal fade" id="addProject" role="dialog">
	<div class="modal-dialog">
		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" data-dismiss="modal">&times;</button>
				<h3 class="modal-title"><b>Add New Project<b></h3>
				<h3><b>Group: <b>{{group.name}}</h3>
			</div>
			<div class="modal-body">
				<form method="post" class = "form-set"> 
					{% csrf_token %}
					<table class="table table-striped">
						<tr>
							<td colspan="1" id = "table-form">
								<label for="name">Project Name:</label>
							</td>
							<td>
								<input type="text" name="name" class="form-control" placeholder="Enter Project Name" required>
							</td>
						</tr>
						<tr>
							<td colspan="1" id = "table-form">
								<label for="details">Details</label>
							</td>
							<td>
								<textarea class="form-control" id = "form-ctrl" rows="5" name="details" maxlength="250" placeholder="Enter Project Details" required></textarea>
							</td>
						</tr>
						<tr>
							<td colspan="1" id = "table-form">
								<label for="due_date">Due Date:</label>
							</td>
							<td>
								<input type="date" name="due_date" class="form-control" required>
							</td>
						</tr>
						<tr>
							<td colspan="1" id = "table-form">
								<label for="supervisor">Supervisor:</label>
							</td>
							<td>
								<select name="supervisor" required style="width:90%">
									<option value="" disabled selected>Select Project Supervisor</option>
									{% for user in group.user_set.all %}
										<option value="{{user.id}}">{{user.get_full_name}} ({{user.username}})</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<td colspan="1" id = "table-form">
								<label for="note">Notes:</label>
							</td>
							<td>
								<textarea class="form-control" id = "form-ctrl" rows="5" name="note" maxlength="250" placeholder="Enter Project Notes"></textarea>
							</td>
						</tr>
					</table>
					<div class="row" align="center">
						<button class="btn btn-primary" type="submit" role="button"><b>Submit<b></button>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>	

{% endblock %}



{% block news %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Group Activities</b></p><br>
		<div class="scrollbar">
			{% for news in group_news %}
				<div class="row event">
					<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
						<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
					</div>
					<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
						<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
						<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
				<p id="news_header"><b><a href="{% url 'uspl:group_news_all' group.id %}">View All</a></b></p>
			</div>
		</div>
	</div>
</div>

{% endblock %}


{% block external_js %}
<script>
$(function() {
  $('.piechart').easyPieChart({
    scaleColor: "transparent",
    lineWidth: 20,
    lineCap: 'round', //Can be butt
    barColor: '#009CEF',
    trackColor:	"#555",
    size: 180,
    rotate: 0,  
    animate: 1000,

    onStep: function(value) {
  this.$el.find('span').text(Math.round(value));
},
onStop: function(value, to) {
  this.$el.find('span').text(Math.round(to));
}
    
  });
});
</script>

<script>
// Make monochrome colors


// Build the chart
Highcharts.chart('pie_cont_group', {
chart: {
plotBackgroundColor: null,
plotBorderWidth: null,
plotShadow: false,
type: 'pie'
},
title: {
text: ''
},
tooltip: {
pointFormat: '<b>{point.percentage:.1f}%</b>'
},
plotOptions: {
pie: {
  allowPointSelect: true,
  cursor: 'pointer',
  colors: ['#000e24', '#2c5ea9', '#3c92d3', '#7bcef3', '#C6E2FF'],
  dataLabels: {
    enabled: true,
    format: '{point.percentage:.1f} %',
    distance: -35,
    filter: {
      property: 'percentage',
      operator: '>',
      value: 5
    }
  }
}
},
series: [{
    name: 'status',
    data: [
    	{ name: 'Completed', y: {% widthratio completed_tasks total_tasks.count 100 %} },
		{ name: 'Ongoing', y: {% widthratio ongoing_tasks total_tasks.count 100 %} },
		{ name: 'Paused', y: {% widthratio paused_tasks total_tasks.count 100 %} },
		{ name: 'Waiting For Review', y: {% widthratio waiting_for_review_tasks total_tasks.count 100 %} },
		{ name: 'Not Started', y: {% widthratio not_started_tasks total_tasks.count 100 %} },
    ]
  }]
});
</script>
{% endblock %}