{% extends "uspl/base.html" %}
{% block title %} Home {% endblock %}
{% load staticfiles %}
{% load get_at_index %}
{% load get_cld_tasks %}

{% block content %}
<div class="col-sm-8" id="base-main-body">
    <div class="row">
	   	<div class="col-sm-12">
	   		<br>
			<div id="main-body-div">
				<div class="row" id="main_body_header">
					<p><b>Dashboard</b></p>
				</div>
				{% if notices %}
					<div class="row" id="notice_row">
						<div class="bn-breaking-important_news">
							<div class="col-xs-1" id="announcement_icon"><span class="glyphicon">&#xe122;</span></div>
							<div class="bn-label_important">NOTICE</div>
							<div class="bn-news">
								<div id="myNotice" class="carousel slide" data-ride="carousel">
									<div class="carousel-inner" role="listbox">
										{% for notice in notices %}
											<div class="item {% if forloop.counter0 == 0 %}active{% endif %}">
												{% if notice.body %}
						    						<a href="{% url 'uspl:notice_details' notice.id %}" {% if notice.important %}style="color:red"{% endif %} title="{{notice.title}}" target="_blank">{{notice.title}}</a>
						    					{% else %}
						    						<p style="color:{% if notice.important %}red{% else %}#03a9f4{% endif %}">{{notice.title}}</p>
						    					{% endif %}
											</div>
										{% endfor %}
									</div>
								</div>
							</div>
							<div class="bn-controls">
								<a  href="#myNotice" role="button" data-slide="prev"><button><span class="bn-arrow bn-prev"></span></button></a>
								<a href="#myNotice" role="button" data-slide="next"><button><span class="bn-arrow bn-next"></span></button></a>
							</div>
						</div>
					</div>
				{% endif %}
				
				<div>
					
					
					{% if not request.user.is_staff %}
						<br>
						<div class="row">
							<div class="col-md-5th-1 col-sm-4 col-md-offset-0 col-sm-offset-2 pnl-new-col">
								<div class="panel panel-green pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<img src="{% static 'uspl/img/current-task.png' %}" height="45" width="45" style="margin-top: 7px;">
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{tasks.count}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding">
												<div class="huge" id="huge-title">Current <b>Tasks</b></div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:user_task_list_current' request.user.id %}">
										<div class="panel-footer abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							
							</div>
							<div class="col-md-5th-1 col-sm-4 pnl-new-col">
								<div class="panel panel-yellow pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<img src="{% static 'uspl/img/closetoo.png' %}" height="45" width="45" style="margin-top: 7px;">
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{request.user.profile|get_cld_tasks}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding" >
												<div class="huge" id="huge-title"><b>Tasks</b> Close To Deadline</div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:user_task_list_cld' user.id %}">
										<div class="panel-footer abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							</div>
							{% if request.user.profile.get_wfr_tasks > 0 %}
							<div class="col-md-5th-1 col-sm-4 pnl-new-col">
								<div class="panel panel-primary pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<img src="{% static 'uspl/img/waiting.png' %}" height="45" width="45" style="margin-top: 7px;">
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{request.user.profile.get_wfr_tasks}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding">
												<div class="huge" id="huge-title"><b>Tasks</b> Waiting For Review</div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:tasks_waiting' %}">
										<div class="panel-footer abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							</div>
							{% endif %}
							{% if request.user.profile.get_submitted_tasks > 0 %}
							<div class="col-md-5th-1 col-sm-4 pnl-new-col">
								<div class="panel panel-primary pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<img src="{% static 'uspl/img/waiting.png' %}" height="45" width="45" style="margin-top: 7px;">
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{request.user.profile.get_submitted_tasks}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding">
												<div class="huge" id="huge-title"><b>Tasks</b> Submitted For Review</div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:submitted_tasks' %}">
										<div class="panel-footer abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							</div>
							{% endif %}
							<div class="col-md-5th-1 col-sm-4 pnl-new-col">
								<div class="panel panel-red pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<img src="{% static 'uspl/img/overdue.png' %}" height="45" width="45" style="margin-top: 7px;">
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{request.user.profile.get_overdue_tasks}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding">
												<div class="huge" id="huge-title">Overdue <b>Tasks</b></div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:user_task_list_overdue' user.id %}">
										<div class="panel-footer abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							</div>
							<div class="col-md-5th-1 col-sm-4 pnl-new-col">
								<div class="panel panel-pest pnt">
									<div class="panel-heading">
										<div>
											<div class="col-xs-3 col-sm-6">
												<i class="fa fa-exclamation-circle fa-5x" id="icon-dash-pnl"></i>
											</div>
											<div class="col-xs-9  col-sm-6 text-right">
												<div class="huge huge_new">{{raised_issues.count}}</div>
											</div>
										</div>
										<div>
											<div class="col-xs-12  col-sm-12 dashpanelpadding">
												<div class="huge" id="huge-title">Unresolved <b>Issues</b></div>
											</div>
										</div>
									</div>
									<a href="{% url 'uspl:user_issues' request.user.id %}">
										<div class="panel-footer panel-footer-pest abs">
											<span class="pull-left">View Details</span>
											<span class="pull-right"><i class="fa fa-arrow-circle-right size20arrow"></i></span>
											<div class="clearfix"></div>
										</div>
									</a>
								</div>
							</div>
						</div>
						
						
						<!-- User Dashboard Starts Here -->	
						<div class="row">
							<div class="col-lg-8 col-md-12">
								<div class="card" id="dash_table_height">
									<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
										<h4 class="card-title">My Projects <a href="{% url 'uspl:own_project_list' %}" id="dashboard_viewproject">View All Projects</a></h4>
									</div>
									
									<div id="dashboard_task_table" class="card-body">
										{% if projects %}
											<table class="table table-hover">
												<thead class="text-warning">
													<tr>
														<th>Project Name</th>
														<th>Start Date</th>
														<th>Due Date</th>
														<th>Progress</th>
													</tr>
												</thead>
												<tbody>
													{% for project in projects %}
														<tr>
															<td><a href="{% url 'uspl:project_detail' project.id %}">{{project.name}}</a></td>
															<td>{{project.created_date}}</td>
															<td>{{project.due_date}}</td>
															<td id="progress-td">
																{{project.get_completeion_rate|floatformat:"2"}}%
																<div class="progress" id="progress-status">
																	<div class="progress-bar" role="progressbar" aria-valuenow="{{project.get_completeion_rate}}" aria-valuemin="0" aria-valuemax="100" style="width:{{project.get_completeion_rate}}%">
																	</div>
																</div>
															</td>
														</tr>
													{% endfor %}
												</tbody>
											</table>
										{% else %}
											<h4 id="not-available-msg">You don't have any project yet!! </h4>
										{% endif %}
									</div>
								</div>
							</div>
							<div class="col-lg-4 col-md-12">
								<div class="card" id="dash_table_height">
									<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
									<h5 class="card-title">Current Tasks<p class="badge" id="proj_num"> {{tasks.count}}</p></h5>

									</div>
									<div class="card-body" id="pie_project_dashboard">
										<ul class="pieID dash_le">
											<li style="border-color: #00245b">
												<em>Ongoing</em>
												<span>{{tasks_ongoing.count}}</span>
											</li>
											<li style="border-color: #0b62a4">
												<em>Paused</em>
												<span>{{tasks_paused.count}}</span>
											</li>
											<li style="border-color: #7bcef3">
												<em>Waiting For Review</em>
												<span>{{tasks_waiting_for_review.count}}</span>
											</li>
											<li style="border-color: #C6E2FF">
												<em>Not Started Yet</em>
												<span>{{tasks_not_started.count}}</span>
											</li>
										</ul>
										{% if tasks.count > 0 %}
											<div id="pie_cont_dash" style="min-width: 150px; height: 245px; max-width: 226px; margin: 0 8% !important"></div>
										{% else %}
											<br>
											<div class="c100 big"><span>0%</span><br><span id="txt_zero_dash" >No Assigned Task!</span></div>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
							
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card">
									<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
										<h4 class="card-title">Current Tasks <a href="{% url 'uspl:user_task_list_current' request.user.id %}" id="dashboard_viewproject">View All Tasks</a></h4>
									</div>
									
									<div id="dashboard_task_table" class="card-body table-responsive">
										{% if tasks %}
										<table class="table table-hover">
											<thead class="text-warning">
												<tr>
													<th>Task Name</th>
													<th>Project</th>
													<th>Due Date</th>
													<th>Remaining Days</th>
													<th>Status</th>
													<th>Issues</th>
												</tr>
											</thead>
											<tbody>
												{% for task in tasks %}
													<tr>
														<td><a href="{% url 'uspl:task_detail' task.id %}">{{task.name}}</a></td>
														<td><a href="{% url 'uspl:project_detail' task.project.id %}">{{task.project.name}}</a></td>
														<td>{{task.deadline}}</td>
														<td>{{task.deadline|timeuntil}}</td>
														<td>
															{% if not task.started %}
																Not Started
															{% elif not task.submitted %}
																Ongoing
															{% elif not task.reviewed %}
																Waiting for review
															{% elif task.submitted and task.reviewed %}
																Completed
															{% endif %}
														</td>
														<td>
															{% if task.get_unsolved_issues > 0 %}
																<span class="badge" id="issue_badge">{{task.get_unsolved_issues}}</span>
															{% else %}
																<span class="badge" id="no_issue_badge">0</span>
															{% endif %}
														</td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										{% else %}
											<h4 id="not-available-msg">You don't have any task yet!!</h4>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<div class="row">
							<div class="col-lg-12 col-md-12">
								<div class="card">
									<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
										<h4 class="card-title">My Issues <a href="{%  url 'uspl:user_issues' request.user.id %}" id="dashboard_viewproject">View All Issues</a></h4>
									</div>
									
									<div id="dashboard_task_table" class="card-body table-responsive">
										{% if raised_issues %}
										<table class="table table-hover">
											<thead class="text-warning">
												<tr>
													<th>Issue</th>
													<th>Task Name</th>
													<th>Raised On</th>
													<th>Comments</th>
												</tr>
											</thead>
											<tbody>
												{% for issue in raised_issues %}
													<tr>
														<td><a href="{% url 'uspl:issue_detail' issue.id %}">{{issue.name|truncatechars:50}}</a></td>
														<td><a href="{% url 'uspl:task_detail' issue.task.id %}">{{issue.task.name|truncatechars:50}}</a></td>
														<td>{{issue.raised_date}}</td>
														<td><span class="badge" id="no_issue_badge">{{issue.comment_set.all.count}}</span></td>
													</tr>
												{% endfor %}
											</tbody>
										</table>
										{% else %}
											<h4 id="not-available-msg">No current Issue!</h4>
										{% endif %}
									</div>
								</div>
							</div>
						</div>
						<br>
						<br>
						<!-- User Dashboard End Here -->
					{% else %}
						{% if request.user.profile.is_hr %}
							<div>
								<div class="row">
									
									<!-- Panels -->
									<div class="col-lg-3 col-sm-6">
										<div class="card" id ="member_card">
											<div class="content">
												<div class="row">
													<div class="panel-heading" id="member_head">
														<div class="col-xs-5">
															<i class="fa fa-user fa-5x" id ="member_icon"></i>
														</div>
														<div class="col-xs-7">
															<div class="dash_font"><a id ="member_color" href ="{% url 'uspl:group_members_all' %}">80</a><br>
															<span id="dash_font_sm">Manage Members!</span></div>
														</div>
													</div>
												</div>
												<div class="panel-footer" id="member_footer">
													<span class="pull-left">
														<a id ="view_dash_details" href ="{% url 'uspl:group_members_all' %}">View Details
													</span>
													<span class="pull-right" ><i class="fa fa-arrow-circle-right" id ="view_dash_details"></i></a></span>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-6">
										<div class="card" id ="group_card">
											<div class="content">
												<div class="row">
													<div class="panel-heading" id="group_head">
														<div class="col-xs-5">
															<i class="fa fa-group fa-5x" id ="group_icon"></i>
														</div>
														<div class="col-xs-7">
															<div class="dash_font"><a id ="group_color" href ="{% url 'uspl:hr_group_list' %}">{{groups.all.count}}</a><br>
															<span id="dash_font_sm" >Manage Groups!</span></div>
														</div>
													</div>
												</div>
												<div class="panel-footer" id="group_footer">
													<span class="pull-left" id ="view_dash_details">
														<a id ="view_dash_details" href ="{% url 'uspl:hr_group_list' %}">View Details
													</span>
													<span class="pull-right" ><i class="fa fa-arrow-circle-right" id ="view_dash_details"></i></a></span>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-6">
										<div class="card" id ="notice_card">
											<div class="content">
												<div class="row">
													<div class="panel-heading" id="notice_head">
														<div class="col-xs-5">
															<i class="fa fa-exclamation-triangle fa-5x" id ="notice_icon"></i>
														</div>
														<div class="col-xs-7">
															<div class="dash_font"><a id ="notice_color" href ="{% url 'uspl:hr_notice_list' %}">02</a><br>
															<span id="dash_font_sm" >Notice!</span></div>
															
														</div>
													</div>
												</div>
												<div class="panel-footer" id="notice_footer">
													<span class="pull-left" id ="view_dash_details">
														<a id ="view_dash_details" href ="{% url 'uspl:hr_notice_list' %}">View Details
													</span>
													<span class="pull-right" ><i class="fa fa-arrow-circle-right" id ="view_dash_details"></i></a></span>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									
									<div class="col-lg-3 col-sm-6">
										<div class="card" id ="user_card">
											<div class="content">
												<div class="row">
													<div class="panel-heading" id="user_head">
														<div class="col-xs-4">
															<i class="fa fa-user-plus fa-5x" id ="user_icon"></i>
															
														</div>
														<div class="col-xs-8">
															<div class="dash_font" id ="user_color">Create<br>
															<span id="dash_font_sm" >New User</span></div>
															
														</div>
													</div>
												</div>
												<div class="panel-footer" id="user_footer">
													<span class="pull-left"><a href="{% url 'uspl:create_user' %}" id ="view_dash_details">Create</span>
													<span class="pull-right" ><i class="fa fa-arrow-circle-right" id ="view_dash_details"></i></a></span>
													<div class="clearfix"></div>
												</div>
											</div>
										</div>
									</div>
									
									
									
								</div>

								
								<div class="row">
									
									<div class="col-lg-12 col-md-12">
										<div class="card">
											<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
												<h4 class="card-title">All Groups </h4>
											</div>
											<div id="dashboard_hr_table" class="card-body table-responsive">
												<table class="table table-hover">
													<thead class="text-warning">
														<tr>
															<th>Group Name</th>
															<th>Team Leader</th>
															<th>Total Members</th>
														</tr>
													</thead>
													<tbody>
														{% for group in groups %}
															<tr>
																<td><a href="{% url 'uspl:group_members' group.id %}">{{group.name}}</a></td>
																<td>
																	{% if group.teamleader %}
																		{% for user in group.teamleader.employees.all %}
																			<a id ="member_ref" href="{% url 'uspl:employee_profile' user.id %}">
																				<img class="img-circle" id="member_pic" src="{{ user.profile.image.url }}" alt="{{ user.first_name }}" title="{{ user.get_full_name }}">
																			</a>
																		{% endfor %}
																	{% else %}
																		None
																	{% endif %}
																</td>
																<td id ="td_center">{{group.user_set.all.count}}</td>
															</tr>
														{% endfor %}
													</tbody>
												</table>
											</div>
										</div>
									</div>
									
								</div>
						{% else %}
							<br>
							<div class="row">
								{% for group in all_groups %}
									<div>
										{% if project_exists|get_at_index:forloop.counter0 %}
											<div class="col-lg-8 col-md-12">
												<div class="card" id="dash_table_height_mngr">
													<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
														<h4 class="card-title">{{group.name}} <a href="{% url 'uspl:group_details' group.id %}" id="dashboard_viewproject">View Details</a></h4>
													</div>
													<div id="dashboard_proj_table" class="card-body table-responsive">
														<table class="table table-hover">
															<thead class="text-warning">
																<tr>
																	<th>Project Name</th>
																	<th>Start Date</th>
																	<th>Due Date</th>
																	<th>Progress</th>
																</tr>
															</thead>
															<tbody>
																{% for project in projects %}
																	{% if project.group == group %}
																		<tr>
																			<td><a href="{% url 'uspl:project_detail' project.id %}">{{project.name}}</a></td>
																			<td>{{project.created_date}}</td>
																			<td>{{project.due_date}}</td>
																			<td id="progress-td">
																				{{project.get_completeion_rate|floatformat:"2"}}%
																				<div class="progress" id="progress-status">
																					<div class="progress-bar" role="progressbar" aria-valuenow="{{project.get_completeion_rate}}" aria-valuemin="0" aria-valuemax="100" style="width:{{project.get_completeion_rate}}%">
																					</div>
																				</div>
																			</td>
																		</tr>
																	{% endif %}
																{% endfor %}
															</tbody>
														</table>
													</div>
												</div>
											</div>
											<div class="col-lg-4 col-md-12">
												<div class="card" id="dash_table_height_mngr">
													<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
														<h5 class="card-title">Task Overview<p class="badge" id="proj_num">{{total_tasks_count_list|get_at_index:forloop.counter0}}</p></h5>
													</div>
													<div class="card-body" id="pie_project_dashboard">
														<ul class="pieID{{group.id}} dash_le">
															<li style="border-color: #000e24">
																<em>Completed</em>
																<span>
																	{% for completed in tasks_completed_count_list %}
																		{% if forloop.counter == forloop.parentloop.counter %}
																			{{completed}}
																		{% endif %}
																	{% endfor %}
																</span>
															</li>
															<li style="border-color: #2c5ea9">
																<em>Ongoing</em>
																<span>
																	{% for ongoing in tasks_ongoing_count_list %}
																		{% if forloop.counter == forloop.parentloop.counter %}
																			{{ongoing}}
																		{% endif %}
																	{% endfor %}
																</span>
															</li>
															<li style="border-color: #3c92d3">
																<em>Paused</em>
																<span>
																	{% for paused in tasks_paused_count_list %}
																		{% if forloop.counter == forloop.parentloop.counter %}
																			{{paused}}
																		{% endif %}
																	{% endfor %}
																</span>
															</li>
															<li style="border-color: #7bcef3">
																<em>Waiting For Review</em>
																<span>
																	{% for wfr in tasks_waiting_for_review_count_list %}
																		{% if forloop.counter == forloop.parentloop.counter %}
																			{{wfr}}
																		{% endif %}
																	{% endfor %}
																</span>
															</li>
															<li style="border-color: #C6E2FF">
																<em>Not Started Yet</em>
																<span>
																	{% for nty in tasks_not_started_count_list %}
																		{% if forloop.counter == forloop.parentloop.counter %}
																			{{nty}}
																		{% endif %}
																	{% endfor %}
																</span>
															</li>
														</ul>
														<div id="pie_cont_dash{{group.id}}" style="min-width: 150px; height: 245px; max-width: 226px; margin: 0 8% !important"></div>
													</div>
												</div>
											</div>
										{% else %}
											<div class="row">
												<div class="col-lg-12 col-md-12">
													<div class="card" id="not_available_project">
														<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
															<h4 class="card-title">{{group.name}} <a href="{% url 'uspl:group_details' group.id %}" id="dashboard_viewproject">View Details</a></h4>
														</div>
														<blockquote>
															<p id="not_available_project_text"><span id="not_available_project_icon" class="glyphicon glyphicon-exclamation-sign"></span>No Running Project</p>   
														</blockquote>
													</div>
												</div>
											</div>
										
										{% endif %}
									</div>
								{% endfor %}
							{% endif %}
						</div>
					
					{% endif %}
				</div>
			</div>
		</div>
	</div>
</div>
{% endblock %}

{% block news %}
{% if not request.user.profile.is_hr %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Recent Activities</b></p><br>
		<div class="scrollbar">
			{% for news in newses %}
				<div class="row event">
					<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
						<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
					</div>
					<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
						<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
						<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
				<p id="news_header"><b><a href="{% url 'uspl:news_list' 1 %}">View All</a></b></p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block external_js %}

{% if not request.user.is_staff %}
	<script>
	// Make monochrome colors
	
	
	// Build the chart
	Highcharts.chart('pie_cont_dash', {
	  chart: {
	    plotBackgroundColor: null,
	    plotBorderWidth: null,
	    plotShadow: false,
	    type: 'pie'
	  },
	  title: {
	    text: ''
	  },
		tooltip: {
	    pointFormat: '<b>{point.percentage:.1f}%</b>'
	  },
	  plotOptions: {
	    pie: {
	      allowPointSelect: true,
	      cursor: 'pointer',
	      colors: ['#00245b', '#0b62a4', '#7bcef3', '#C6E2FF'],
	      dataLabels: {
	        enabled: true,
	        format: '{point.percentage:.1f} %',
	        distance: -35,
	        filter: {
	          property: 'percentage',
	          operator: '>',
	          value: 4
	        }
	      }
	    }
	  },
	  series: [{
	    name: 'status',
	    data: [
	    	{% if not request.user.is_staff %}
		    	{ name: 'Ongoing', y: {% widthratio tasks_ongoing.count tasks.count 100 %} },
				{ name: 'Paused', y: {% widthratio tasks_paused.count tasks.count 100 %} },
				{ name: 'Waiting For Review', y: {% widthratio tasks_waiting_for_review.count tasks.count 100 %} },
				{ name: 'Not Started', y: {% widthratio tasks_not_started.count tasks.count 100 %} },
	
			{% endif %}
	    ]
	  }]
	});
	</script>
{% else %}
	{% for group in all_groups %}
		<script>
		// Make monochrome colors
		
		
		// Build the chart
		Highcharts.chart('pie_cont_dash{{group.id}}', {
		  chart: {
		    plotBackgroundColor: null,
		    plotBorderWidth: null,
		    plotShadow: false,
		    type: 'pie'
		  },
		  title: {
		    text: ''
		  },
			tooltip: {
		    pointFormat: '<b>{point.percentage:.1f}%</b>'
		  },
		  plotOptions: {
		    pie: {
		      allowPointSelect: true,
		      cursor: 'pointer',
		      colors: ['#000e24', '#2c5ea9', '#3c92d3', '#7bcef3', '#C6E2FF'],
		      dataLabels: {
		        enabled: true,
		        format: '{point.percentage:.1f} %',
		        distance: -35,
		        filter: {
		          property: 'percentage',
		          operator: '>',
		          value: 5
		        }
		      }
		    }
		  },
		  series: [{
		    name: 'status',
		    data: [
					{ name: 'Completed', y: {% widthratio tasks_completed_count_list|get_at_index:forloop.counter0 total_tasks_count_list|get_at_index:forloop.counter0 100 %} },
					{ name: 'Ongoing', y: {% widthratio tasks_ongoing_count_list|get_at_index:forloop.counter0 total_tasks_count_list|get_at_index:forloop.counter0 100 %} },
					{ name: 'Paused', y: {% widthratio tasks_paused_count_list|get_at_index:forloop.counter0 total_tasks_count_list|get_at_index:forloop.counter0 100 %} },
					{ name: 'Waiting For Review', y: {% widthratio tasks_waiting_for_review_count_list|get_at_index:forloop.counter0 total_tasks_count_list|get_at_index:forloop.counter0 100 %} },
					{ name: 'Not Started', y: {% widthratio tasks_not_started_count_list|get_at_index:forloop.counter0 total_tasks_count_list|get_at_index:forloop.counter0 100 %} },
		    ]
		  }]
		});
		</script>
	
	{% endfor %}
{% endif %}

{% endblock %}