{% extends "uspl/base.html" %}
{% block title %}Reset Password{% endblock %} 
{% block pagetitle %}Reset Password{% endblock %} 

{%  block content %}
<div class="col-sm-8" id="base-main-body"> 
	<div class="row">
		<div class="col-sm-12">
			<br>
			<div id="main-body-div">
				<div id="main_body_header" class="row">
					<p><b>Reset Password</b></p>
				</div>
				<br>

                <form method="post" style="text-align:center">
                    {% csrf_token %}
                    <table class="table">
                        <tr>
                            <td><label for="id_username">Old Password</label></td>
                            <td>
                				{{ form.old_password }}
                				{% if form.old_password.errors %}
                                    <p class=" label label-danger">{{form.old_password.errors}}</p>
                                {% endif %}
                			</td>
                        </tr>
                        <tr>
                            <td><label for="id_password">New Password</label></td>
                            <td>
                				{{ form.new_password1 }}
                				{% if form.new_password1.errors %}
                                    <p class=" label label-danger">{{form.new_password1.errors}}</p>
                                {% endif %}
                			</td>
                        </tr>
                        <tr>
                            <td><label for="id_password">Confirm New Password</label></td>
                            <td>
                                {% if form.new_password2.errors %}
                                    <p class="alert-message block-message error">{{form.new_password2.errors}}</p>
                                {% endif %}
                				{{ form.new_password2 }}
                			</td>
                        </tr>
                    </table>
                    <button type="submit" class="btn btn-primary" style="text-align:center">Submit</button>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block news %}
{% if not request.user.is_staff %}
	{% if not request.user.profile.is_hr %}
	<!-- News -->
	<div class="col-sm-2">
		<div class="fixed col-xs-2 sidebar-outer" id="news_col">
			<p id="news_header"><b>My Activities</b></p><br>
			<div class="scrollbar">
				{% for news in profile_news %}
					<div class="row event">
						<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
							<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
						</div>
						<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
							<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
							<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
						</div>
					</div>
					<hr>
				{% endfor %}
				</div>
					<p id="news_header"><b><a href="{% url 'uspl:employee_news_all' request.user.id %}">View All</a></b></p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% else %}
	{% if not request.user.profile.is_hr %}
	<!-- News -->
	<div class="col-sm-2">
		<div class="fixed col-xs-2 sidebar-outer" id="news_col">
			<p id="news_header"><b>Recent Activities</b></p><br>
			<div class="scrollbar">
				{% for news in newses %}
					<div class="row event">
						<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
							<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
						</div>
						<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
							<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
							<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
						</div>
					</div>
					<hr>
				{% endfor %}
				</div>
					<p id="news_header"><b><a href="{% url 'uspl:news_list' 1 %}">View All</a></b></p>
				</div>
			</div>
		</div>
	</div>
	{% endif %}
{% endif %}
{% endblock %}
