{% extends "uspl/base.html" %}

{% block title %}Task: {{ task.name }}{% endblock %}
{% block pagetitle %}{{ task.name }}{% endblock %}

{% block content %}
<div class="col-sm-8" id="base-main-body"> 
    <div class="row">
	   	<div class="col-sm-12">
			<br>
			<div id="main-body-div"> 
				<div id="main_body_header" class="row">	
					<p><b>{{task.name}}</b></p>
				</div>
				<br>
				<br>
				<div class="row">
					<div class="col-sm-7">
						<h4><b>Details</b></h4>	
						<br>
						<p id="task-paragraph">{{task.details|linebreaks}}</p>
						<hr>
						<h4><b>Notes</b></h4>
						{% if task.note %}
							<p id="task-paragraph">{{task.note|linebreaks}}</p>
							<hr>
						{% else %}
							<p>No notes to show!</p>
							<hr>
						{% endif %}
					</div>
		
					<div class="col-sm-5">
						<ul class="list-group">
							{% if not task.completed %}
								{% if request.user == task.project.supervisor or request.user.teamleader_set.all or request.user.is_staff %}
									<li class="list-group-item">
										<a data-toggle="modal" data-target="#editTask" class="btn btn-sm btn-primary">Edit Task</a>
										<a href="{% url 'uspl:delete_task' task.id %}" class="btn btn-danger btn-sm">Delete</a>
									</li>
								{% endif %}
							{% endif %}
							{% if request.user == task.project.supervisor %}
								{% if task.project.supervisor == task.assigned_to %}
									{% if not task.started %}
										<li class="list-group-item">
											<a href="{% url 'uspl:task_toggle_started' task.id %}" class="btn btn-info btn-sm">Start Task</a>
										</li>
									{% elif not task.completed %}
										<li class="list-group-item">
											<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#issueModal">Raise Issue</button>
											{% if unsolved_issues.count > 0 %}
												<button type="button" class="btn btn-info btn-sm disabled" id="disabledButton">Mark as Done</button>
											{% else %}
												<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Mark as Done</button>
											{% endif %}
										</li>
									{% endif %}
								{% else %}
									{% if task.submitted and not task.completed %}
										<li class="list-group-item">
											<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#feedbackModal">Send Feedback</button>
											<button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#myModal">Mark as Done</button>
										</li>
									{% endif %}
							{% endif %}
							{% elif request.user == task.assigned_to %}
								{% if not task.started %}
									<li class="list-group-item">
										<a href="{% url 'uspl:task_toggle_started' task.id %}" class="btn btn-info btn-sm">Start Task</a>
									</li>
								{% elif not task.submitted %}
									<li class="list-group-item">
										<button type="button" class="btn btn-danger btn-sm" data-toggle="modal" data-target="#issueModal">Raise Issue</button>
										{% if task.paused %}
											<a href="{% url 'uspl:task_toggle_resumed' task.id %}" class="btn btn-info btn-sm {% if unsolved_issues.count > 0 %}confirmation{% endif %}">
											Resume Task
											</a>
										{% elif unsolved_issues.count > 0 %}
											<button type="button" class="btn btn-info btn-sm disabled" id="disabledButton">Submit Task</button>
										{% else %}
											<a href="{% url 'uspl:task_toggle_submit' task.id %}" class="btn btn-info btn-sm warningButton">
											Submit Task
											</a>
										{% endif %}
									</li>
								{% endif %}
							{% endif %}
							<li class="list-group-item">
								<strong>Assigned to: </strong>
								<a href="{% url 'uspl:employee_profile' task.assigned_to.id %}">
								<img src="{{ task.assigned_to.profile.image.url }}" class="img-circle" width="30" height="30" alt={{task.assigned_to.first_name}}>
								</a>
								<a href="{% url 'uspl:employee_profile' task.assigned_to.id %}">{{ task.assigned_to.get_full_name }}</a>
							</li>

							<li class="list-group-item">
								<strong>Supervised by: </strong>
								<a href="{% url 'uspl:employee_profile' task.project.supervisor.id %}">
								<img src="{{ task.project.supervisor.profile.image.url }}" class="img-circle" width="30" height="30" alt={{task.project.supervisor.first_name}}>
								</a>
								<a href="{% url 'uspl:employee_profile' task.project.supervisor.id %}">{{ task.project.supervisor.get_full_name }}</a>
							</li>
							<li class="list-group-item"><strong>Started date:</strong> {% if task.started %}{{ task.started_date }}{% else %}Not Started Yet{% endif %}</li>
							<li class="list-group-item">
								<strong>Due date:</strong> {{ task.deadline }}
							</li>
							{% if not task.completed %}
								<li class="list-group-item">
									<strong>Days Remaining:</strong> {{ task.deadline|timeuntil }}
								</li>
							{% endif %}
							{% if task.completed %}
								<li class="list-group-item">
									<strong>Completed on:</strong> {{ task.completed_date}}
								</li>
							{% else %}
								<li class="list-group-item">
									<strong>Completed:</strong> {{ task.completed|yesno:"Yes,No" }}
								</li>
							{% endif %}
							<li class="list-group-item">
								<strong>Project:</strong>
								<a href="{% url 'uspl:project_detail' task.project.id %}">
								{{ task.project }}
								</a>
							</li>
						</ul>
					</div>
				</div>
				{% if issues %}
				<div>
					<br>
					<div class="row" id="issue_header">				
						<p><b>Issues</b></p>
					</div>
					<div class="table-responsive" id="table_scroll_all_list">
						<table class="table table-hover">
							<thead>
								<tr>
								  <th>Issue Name</th>
									<th>Raised On</th>
									<th>Solved</th>
									<th>Solved By</th>
									<th>Details</th>
								</tr>
							</thead>
							<tbody>
								{% for issue in issues %}
								<tr>
									<td>
										<a href="{% url 'uspl:issue_detail' issue.id %}">
										{{ issue.name|truncatechars:30 }}
										</a>
									</td>
									<td>
										{{ issue.raised_date }}
									</td>
									<td>
										{% if issue.solved %}<p><span id="ok_btn" class="glyphicon glyphicon-ok"></span></p>{% else %}<p><span id="ok_btn" class="glyphicon glyphicon-remove"></span></p>{% endif %}
									</td>
									<td>
									{% if not issue.solved %}
										None
									{% else %}
										<a href="{% url 'uspl:employee_profile' issue.solved_by.id %}">
											<img src="{{ issue.solved_by.profile.image.url }}" class="img-circle" width="30" height="30" alt={{issue.solved_by.first_name}}>
										</a>
										<a href="{% url 'uspl:employee_profile' issue.solved_by.id %}">{{issue.solved_by.get_full_name}}</a>
									{% endif %}
									</td>
									<td>
										<button type="button" class="btn btn-warning btn-sm" data-toggle="modal" data-target="#issueDetails{{issue.id}}">Details</button>
										<!-- Issue Modal -->
										<div class="modal fade" id="issueDetails{{issue.id}}" role="dialog">
											<div class="modal-dialog">
												<!-- Modal content-->
												<div class="modal-content">
													<div class="modal-header">
														<button type="button" class="close" data-dismiss="modal">&times;</button>
														<h3 class="modal-title"><b>Issue Details</h3>
													</div>
													<div class="modal-body" style="padding:0">
														<div class="row">
															<div class="col-sm-5">

																<ul class="list-group" style="text-align: left">
																	<li class="list-group-item"><p><strong>Task:</strong> <a href="{% url 'uspl:task_detail' issue.task.id %}">{{ issue.task.name|truncatechars:30 }}</a></p></li>
																	<li class="list-group-item"><p><strong>Project:</strong> <a href="{% url 'uspl:project_detail' issue.task.project.id %}">{{ issue.task.project.name|truncatechars:30 }}</a></p></li>
																	<li class="list-group-item"><p><strong>Supervisor: 
																	</strong><img src="{{ issue.task.project.supervisor.profile.image.url }}" class="img-circle" width="30" height="30" alt={{issue.task.project.supervisor.first_name}}>
																	<a href="{% url 'uspl:employee_profile' issue.task.project.supervisor.id %}">{{ issue.task.project.supervisor.get_full_name }}</a></p>
																	</li>
																	<li class="list-group-item"><p><strong>Raised By: 
																	</strong><img src="{{ issue.raised_by.profile.image.url }}" class="img-circle" width="30" height="30" alt={{issue.raised_by.first_name}}>
																	<a href="{% url 'uspl:employee_profile' issue.raised_by.id %}">{{ issue.raised_by.get_full_name }}</a></p>
																	</li>
																	<li class="list-group-item"><p><strong>Raised Date:</strong> {{ issue.raised_date }}</p></li>
																	<li class="list-group-item">
																		<p><strong>Status: </strong>{% if issue.solved %}Solved{% else %}Not Solved Yet{% endif %}</p>
																	</li>
																	{% if issue.solved %}
																		<li class="list-group-item"><p><strong>Solved By: 
																		  </strong><img src="{{ issue.solved_by.profile.image.url }}" class="img-circle" width="30" height="30" alt={{issue.solved_by.first_name}}
																		  <a href="{% url 'uspl:employee_profile' issue.solved_by.id %}">{{ issue.solved_by.get_full_name }}</a></p>
																		</li>
																	{% endif %}
																	{% if issue.solved %}
																		<li class="list-group-item"><p><strong>Solved Date:</strong> {{ issue.solved_date }}</p></li>
																	{% endif %}
																</ul>
	
															</div>
															<div class='col-sm-7' id="task_issue_detail" style="text-align:left;">
													
																<h4><b>Name</b></h4>
																<h5>{{issue.name}}</h5>
																<h4><b>Details</b></h4>
																<h5>{{issue.details|linebreaks}}</h5>
																{% if issue.solved %}
																	<h4><b>Solution</b></h4>
																	<h5>{{issue.solution|linebreaks}}</h5>
																{% endif %}
															</div>
														</div>
														
													</div>
													<div class="modal-footer">
														<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
													</div>
												</div>
											</div>
										</div>
									</td>
								</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
				</div>
				<br>
				{% endif %}
			
				<div class="row">
					<div class="col-sm-12">
						<div class="row" id="main_body_header">				
							<p><b>Supervisor's Feedbacks</b></p>
						</div>
						<br>
						<div style="background-color: #dae1e7;" class="row">
							<div id="table_scroll">	
								<div class = "col-sm-12">
								  {% if feedbacks %}
									<ul id="comments">
									  {% for each_feedback in feedbacks %}
										<li class="cmmnt">
											<div class="avatar">
												<a href="{% url 'uspl:employee_profile' each_feedback.author.id %}">
													<img src="{{ each_feedback.author.profile.image.url }}" class="img-circle" width="50" height="50" alt={{each_feedback.author.first_name}}>
												</a>
											</div>
											<div class="cmmnt-content">
												<header id="name_feedback">
													<a href="{% url 'uspl:employee_profile' each_feedback.author.id %}" class="userlink">
													  {{each_feedback.author.get_full_name}}
													</a> - <span class="pubdate">posted on {{each_feedback.created_date}}</span></header>
													<!--
													<p><b>Re: For submission task dated on Jan 11, 2015 (Fix it)<b></p>
													-->
													<p id="paragraph_justify">{{each_feedback.body|linebreaks}}</p>
													<!--
													{% if not each_feedback.read %}
														<button type="button" class="btn btn-primary"><b>Seen<b></button>
													{% endif %}
													-->
											</div>  
										</li>
										<hr id="feedback_hr">
										{% endfor %}
									</ul>
									{% else %}
									  <br>
									  <h3 id="not-available-msg">No Feedback.</h3>
									{% endif %}
								</div>
							</div>	
						</div>	
					</div>
				
					<!--
					<div class="col-sm-5">
						<div id="header_to_do" class="row">				
							<p><b>To Do List</b></p>
						</div>
						<br>
						<div class="box box-aqua">
							<div class="box-body">
								<div class="to_do_scroll">
									<ul class="todo-list ui-sortable">
									
										<li>
											<div class="row" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-primary"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-danger"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
										<li>
											<div class="row event" >
												<div class="col-xs-2 col-md-2 col-lg-2" >
													<input type="checkbox" value="" name="">
												</div>
												<div class="col-xs-10 col-md-10 col-lg-10" id="news_msg">
													<span id="to_do_text">will solve the issue of assersion raised by shahriar</span><br>
													<small id="to_do_text_span" class="label label-warning"><i class="fa fa-clock-o"></i> 27.11.2015</small>
													<div class="tools">
														<i class="fa fa-edit"></i>
														<i class="fa fa-trash-o"></i>
													</div>
												</div>
											</div>	
										</li>
									</ul>
								</div>
							</div>
							<div class="box-footer clearfix no-border">
								<button type="button" class="btn btn-default pull-right" data-toggle="modal" data-target="#todoModal"><i class="fa fa-plus"></i> Add item</button>
							</div>
						</div>	
					</div>
					-->
				</div>	
			</div>
		</div>
		<br><br>
	</div>
	
	
	<!--Edit Task Modal -->
	<div class="modal fade" id="editTask" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title"><b>Update Task Info<b></h3>
					<h3><b>Task: <b>{{task.name}}</h3>
				</div>
				<div class="modal-body">
					<form method="post" class = "form-set"> 
						{% csrf_token %}
						{{edit_task_form.errors}}
						<table class="table table-striped">
							<tr>
								<td colspan="1" id = "table-form">
									<label for="name">Task Name:</label>
								</td>
								<td>
									{{edit_task_form.name}}
								</td>
							</tr>
							<tr>
								<td colspan="1" id = "table-form">
									<label for="details">Details</label>
								</td>
								<td>
									{{edit_task_form.details}}
								</td>
							</tr>
							<tr>
								<td colspan="1" id = "table-form">
									<label for="deadline">Due Date:</label>
								</td>
								<td>
									{{edit_task_form.deadline}}
								</td>
							</tr>
							<tr>
								<td colspan="1" id = "table-form">
									<label for="assigned_to">Assigned To:</label>
								</td>
								<td>
									{{edit_task_form.assigned_to}}
								</td>
							</tr>
							<tr>
								<td colspan="1" id = "table-form">
									<label for="note">Notes:</label>
								</td>
								<td>
									{{edit_task_form.note}}
								</td>
							</tr>
							<tr>
								<td colspan="1" id = "table-form">
									<label for="priority">Priority:</label>
								</td>
								<td>
									{{edit_task_form.priority}}
								</td>
							</tr>
						</table>
						<div class="row" align="center">
							<button class="btn btn-primary" name="edit_task" type="submit" name="update_project" role="button"><b>Submit<b></button>
						</div>
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>	
	
	

	<!-- Feedback Modal -->
	<div class="modal fade" id="feedbackModal" role="dialog">
		<div class="modal-dialog">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title"><b>Feedback<b></h3>
					<h4 class="modal-title"><b>Task Name:<b> {{task.name}}</h3>
					<h4 class="modal-title"><b>Employee:<b> {{task.assigned_to.get_full_name}} ({{task.assigned_to}})</h3>
				</div>
				<div class="modal-body">
					<form method="post">
					{% csrf_token %}        
						<div class="form-group">
							<textarea class="form-control" name="feedback-body" rows="10"></textarea>
						</div>
						<input class="btn btn-sm btn-primary" type="submit" name="add_feedback" value="Send Feedback">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
	
	<!-- to do Modal -->
	<div class="modal fade" id="todoModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-body">
					<form method="post">
						<div class="form-group">
							<label for="issue-name">Task Name</label>
							<input class="form-control" name="issue-name" type="text" maxlength="50" required></br>
							<label for="issue-body">To Do Work</label>
							<textarea class="form-control" name="issue-details" rows="4" maxlength="250" required></textarea>
						</div>
						<input class="btn btn-sm btn-primary" type="submit" name="add_to_do" value="Add Task">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

	<!-- Issue Modal -->
	<div class="modal fade" id="issueModal" role="dialog">
		<div class="modal-dialog modal-lg">
			<!-- Modal content-->
			<div class="modal-content">
				<div class="modal-header">
					<button type="button" class="close" data-dismiss="modal">&times;</button>
					<h3 class="modal-title"><b>Issue<b></h3>
					<h4 class="modal-title"><b>Task Name:<b> {{task.name}}</h3>
					<h4 class="modal-title"><b>Employee:<b> {{task.assigned_to.get_full_name}} ({{task.assigned_to}})</h3>
				</div>
				<div class="modal-body">
					<form method="post">
					{% csrf_token %}        
						<div class="form-group">
							<label for="issue-name">Issue Name (Max length: 50)</label>
							<input class="form-control" name="issue-name" type="text" maxlength="50" required></br>
							<label for="issue-body">Details (Max length: 250)</label>
							<textarea class="form-control" name="issue-details" rows="4" maxlength="250" required></textarea>
							<input type="checkbox" name="issue-effect" id="issue-effect" value="effect"><label for="issue-effect">Task Paused</label>
						</div>
						<input class="btn btn-sm btn-danger" type="submit" name="raise_issue" value="Raise Issue">
					</form>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>

  	<!-- KPI Modal -->
    <div class="modal fade" id="myModal" role="dialog">
        <div class="modal-dialog modal-md">
        <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header" id="kpi_modal_head">
                    <button type="button" id="modal-cross" class="close" data-dismiss="modal">&times;</button>
                    <h3 class="modal-title"><b>KPI Form</b></h3>
                    <h4 class="modal-title"><b>Task Name:<b> {{task.name}}</h4>
					<h4 class="modal-title"><b>Employee:<b> {{task.assigned_to.get_full_name}} ({{task.assigned_to}})</h4>
                </div>
                <form method="post" style="margin:0">
                    {% csrf_token %}
                    <div class="modal-body">
                        <fieldset>
                            <div class="col-xs-12">
                                <div class="row" id="slidecontainer">
                                    <h4 id="kpi-table-heading"><b>Skill&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_one" type="range" value="0"  min="0" max="10.0" step="0.5">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="number" name="skill" class="inval" id="inval-range_one" value="0" min="0" max="10.0" step="0.5">
                                    </div>      
                                </div>
                                
                                <div class="row" id="slidecontainer">
                                    <h4 id="kpi-table-heading"><b>Attitude&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_two" type="range" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="number" name="attitude" class="inval" id="inval-range_two" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                </div>
					
                                <div class="row" id="slidecontainer">
                                    <h4 id="kpi-table-heading"><b>Motivation&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_three" type="range" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="number" name="motivation" class="inval" id="inval-range_three" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                </div>

                                <div class="row" id="slidecontainer">
                                     <h4 id="kpi-table-heading"><b>Communication&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_four" type="range" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                    <div class="col-xs-3">
                                        <input type="number" name="communication" class="inval" id="inval-range_four" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                </div>
                                
                                <div class="row" id="slidecontainer">
                                    <h4 id="kpi-table-heading"><b>Time Management&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_five" type="range" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                    <div class="col-xs-2">
                                        <input type="number" name="time_management" class="inval" id="inval-range_five" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                </div>
                                
                                <div class="row" id="slidecontainer">
                                    <h4 id="kpi-table-heading"><b>Reliability&nbsp;(10)</b></h4>
                                    <div class="col-xs-9">
                                        <input class= "rangeslider" id="range_six" type="range" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                    
                                    <div class="col-xs-3">
                                        <input type="number" name="reliability" class="inval" id="inval-range_six" value="0" min="0" max="10.0" step="0.5">
                                    </div>
                                </div>
                            </div>
                        </fieldset>
                    </div>
                    <div class="modal-footer" id="kpi_modal_footer">
                    	<button type="button" id="cancel_btn" class="btn btn-default modal-btn" data-dismiss="modal">Close</button>
	                    <button type="submit" id="kpi_sbmt_btn" name="kpi_form" class="btn btn-info modal-btn">Submit</button>
	                </div>
                </form>
            </div>
        </div>
    </div>
  	
</div>
{% endblock %}


{% block news %}
{% if not request.user.profile.is_hr %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Task Activities</b></p><br>
		<div class="scrollbar">
			{% if task_news %}
				{% for news in task_news %}
					<div class="row event">
						<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
							<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
						</div>
						<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
							<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
							<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
						</div>
					</div>
					<hr>
				{% endfor %}
				</div>
					<p id="news_header"><b><a href="{% url 'uspl:task_news_all' task.id %}">View All</a></b></p>
				</div>
			{% else %}
				<h3 id="not-available-msg">No Recent Activities.</h3>
			{% endif %}
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

{% block external_js %}
	<script type="text/javascript">
		$('#disabledButton').on('click',function(e){
		  if( $(this).hasClass('disabled') ){
		    e.preventDefault();
		    alert('You have unsolved issues. You will be able to submit this task once all issues are solved.');
		  }else{
		    alert('go ahead...');
		  }
		});
	</script>
	<script>
		$('.confirmation').on('click', function () {
        	return confirm('You have unsolved issues. Are you sure you want to resume this task? N.B: You won\'t be able to submit this task unltil all the issues are solved.');
    	});
	</script>
	
	<script>
		$('.warningButton').on('click', function () {
        	return confirm('Do you really want to submit this task? N.B: You won\'t be able to cancel this submission after confirmation.');
    	});
	</script>
	
	
	<script>
		$(function() {
			$(document).on('input', ('input[type="range"]'), function(e) {
				document.getElementById('inval-'+this.id).value =  e.target.value;
			});
			$(document).on('input', ('input[type="number"]'), function(e) {
				var input_val = this.id.split('-');
				document.getElementById(input_val[1]).value = this.value;
			});
		});
	</script>

    
	<script>    
	    $(document).on('keyup', 'input[type="number"]', function () {
	    var _this = $(this);
	    var min = parseInt(_this.attr('min')) || 0; // if min attribute is not defined, 0 is default
	    var max = parseInt(_this.attr('max')) || 10; // if max attribute is not defined, 10 is default
	    var val = parseInt(_this.val()) || (min - 0); // if input char is not a number the value will be (min - 0) so first condition will be true
	    if(val < min)
	        _this.val( min );
	    if(val > max)
	        _this.val( max );
		});
	</script>
	
	
	
{% endblock %}