{% extends "uspl/base.html" %}
{% block title %}{% if request.user != user %}{{user.first_name}}'s {% else %}My {% endif %}Completed Tasks{% endblock %}

{% block content %}
<div class="col-sm-8" id="base-main-body"> 
    <div class="row">
	   	<div class="col-sm-12">
	   		<br>
	   		<div id="main-body-div">
			    <div class="row" id="main_body_header">				
			        <p><b>{% if request.user != user %}{{user.first_name}}'s {% else %}My {% endif %}Completed Tasks</b></p>
				</div>
				{% if tasks %}
					<div class="table-responsive">
						<table  class="table table-hover">
							<thead>
								<tr>
									<th>Task Title</th>
									<th>Project</th>
									<th>Started On</th>
									<th>Completed On</th>
								</tr>
							</thead>
							<tbody>
								{% for task in tasks %}
									<tr>
										<td><a href="{% url 'uspl:task_detail' task.id %}">{{task.name|truncatechars:30 }}</a></td>
										<td><a href="{% url 'uspl:project_detail' task.project.id %}">{{task.project.name|truncatechars:30 }}</a></td>
										<td>{{task.created_date}}</td>
										<td>{{task.completed_date}}</td>
									</tr>
								{% endfor %}
							</tbody>
						</table>
					</div>
					<br>
					
					<div class="row" align="center">				
						{% if tasks.has_other_pages %}
		                    <ul class="pagination">
		                        {% if tasks.has_previous %}
		                        	<li><a href="?page=1">&laquo;</a></li>
		                            <li><a href="?page={{ tasks.previous_page_number }}">&lt;</a></li>	
		                        {% endif %}
		                        
		                         {% for num in tasks.paginator.page_range %}
		                        	{% if tasks.number == num %}
										<li class="active"><span>{{ num }} <span class="sr-only">(current)</span></span></li>
									{% elif num > tasks.number|add:'-3' and num < all_news.number|add:'3' %}
										<li><a href="?page={{ num }}">{{ num }}</a></li>
									{% endif %}
		  						{% endfor %}
		                        
		                        
		                        {% if tasks.has_next %}
		                            <li><a href="?page={{ tasks.next_page_number }}">&gt;</a></li>
		                            <li><a href="?page={{ tasks.paginator.num_pages }}">&raquo;</a></li>
		                        {% endif %}
		                    </ul>
		                {% endif %}
					</div>
				{% else %}
					<center>
						<br>
						<h3 id="not-available-msg">No tasks to show!</h3>
					</center>
				{% endif %}
			</div>
		</div> 	
	</div>
</div>
{% endblock %}

{% block news %}
{% if not request.user.profile.is_hr %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Recent Activities</b></p><br>
		<div class="scrollbar">
			{% for news in newses %}
				<div class="row event">
					<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
						<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
					</div>
					<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
						<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
						<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
				<p id="news_header"><b><a href="{% url 'uspl:news_list' 1 %}">View All</a></b></p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}

