{% extends "uspl/base.html" %}
{% load staticfiles %}

{% block title %}{% if request.user == user %}My {% else %}{{user.first_name}}'s  {% endif %}Tasks{% endblock %}


{% block content %}
<div class="col-sm-8" id="base-main-body"> 
    <div class="row">
	   	<div class="col-sm-12">
	   	    <br>
	   	    <div id="main-body-div">
				<div class="row" id="main_body_header">				
					<p><b>{% if request.user == user %}My {% else %}{{user.first_name}}'s  {% endif %}Tasks</b></p>
				</div>
				<br>
				<div class="row">
		   	   	<div class="col-sm-5" id="kpi_page_col3">
					<div class="card">
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title"><a href="{% url 'uspl:employee_profile' user.id %}" id="mem_task">{{user.get_full_name}}</a></h4>
						</div>
						<div id="dashboard_mytask_table" class="card-body table-responsive">
							<table class="table table-hover">
								<tbody>
									<tr>
										<td>Current Tasks</td>
										<td>{{incomplete_tasks}}</td>
									</tr>
									<tr>
										<td>Ongoing</td>
										<td>{{tasks_ongoing}}</td>
									</tr>
									<tr>
										<td>Paused</td>
										<td>{{tasks_paused}}</td>
									</tr>
									<tr>
										<td>Not Started</td>
										<td>{{tasks_not_started}}</td>
									</tr>
									<tr>
										<td>Submitted</td>
										<td>{{tasks_submitted}}</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
				</div>
				
				<div class="col-sm-7" id="kpi_page_col3">
					<div class="card" id="task_table_height">
						<div id="Manager_project_dashboard_table" class="card-header card-header-warning">
							<h4 class="card-title">Current Tasks<p class="badge" id="proj_num">{{incomplete_tasks}}</p></h4>
						</div>
		
						<div class ="row">
							<div class="col-sm-5">
								<ul class="pieID task_user">
									<li style="border-color: #00245b">
										<em>Ongoing</em>
										<span>{{tasks_ongoing}}</span>
									</li>
									<li style="border-color: #0b62a4">
										<em>Paused</em>
										<span>{{tasks_paused}}</span>
									</li>
									<li style="border-color: #7bcef3">
										<em>Waiting For Review</em>
										<span>{{tasks_submitted}}</span>
									</li>
									<li style="border-color: #C6E2FF">
										<em>Not Started Yet</em>
										<span>{{tasks_not_started}}</span>
									</li>
								</ul>
							</div>
							<div class="col-sm-7">
								<div id="pie_cont_task"></div>
							</div>
						</div>
					</div>
				</div>
				</div>
			</div>
	   	   	<br>
	   	   	
	   	   	
			<div id="main-body-div">
				<div class="row" id="main_body_header_projecttask">				
					<div class="col-md-9 col-xs-12">
						<p><b>Current Tasks</b></p>
					</div>
					<div class="col-md-3 col-xs-12 btn-group btn-group-dropdown" id="filter_search">
						<select class="btn btn-default form-control" id="DropDown" name="DropDown" onchange="gotoPage(this)">
							<option value="{% url 'uspl:user_task_list_current' user.id %}" {% if filter == '' %}selected{% endif %}>All</option>
							<option value="{% url 'uspl:user_task_list_ongoing' user.id %}" {% if filter == 'ongoing' %}selected{% endif %}>Ongoing</option>
							<option value="{% url 'uspl:user_task_list_not_started' user.id %}" {% if filter == 'notstarted' %}selected{% endif %}>Not Started Yet</option>
							<option value="{% url 'uspl:user_task_list_paused' user.id %}" {% if filter == 'paused' %}selected{% endif %}>Paused</option>
							<option value="{% url 'uspl:user_task_list_submitted' user.id %}" {% if filter == 'submitted' %}selected{% endif %}>Waiting For Review</option>
							<option value="{% url 'uspl:user_task_list_cld' user.id %}" {% if filter == 'close_to_deadline' %}selected{% endif %}>Close to Deadline</option>
							<option value="{% url 'uspl:user_task_list_overdue' user.id %}" {% if filter == 'overdue' %}selected{% endif %}>Overdue</option>
						</select>
					</div>
				</div>
				{% if tasks %}
				<div class="table-responsive">
					<table class="table table-hover">
						<thead>
							<tr>
								<th>Task Title</th>
								<th>Project</th>
								<th>Created</th>
								<th>Due Date</th>
								<th>Status</th>
								<th>Issues</th>
							</tr>
						</thead>
						<tbody>
							{% for task in tasks %}
								<tr id="{{ task.id }}">
									<td>
										<a href="{% url 'uspl:task_detail' task.id %}">{{ task.name|truncatewords:10 }}</a>
									</td>
									<td>
										<a href="{% url 'uspl:project_detail' task.project.id %}">{{task.project.name}}</a>    
									</td>
									<td>
										{{ task.created_date }}
									</td>
									<td>
										<span {% if task.overdue_status %}class="overdue"{% endif %}>
										{{ task.deadline }}
										</span>
									</td>
									<td>
										{% if not task.started %}
											Not Started
										{% elif not task.submitted and not task.paused %}
											Ongoing
										{% elif task.paused %}
											Paused
										{% elif not task.reviewed %}
											Waiting for review
										{% endif %}
									</td>
									<td>
										{% if task.get_unsolved_issues > 0 %}
											<span class="badge" id="table_issue_span">{{task.get_unsolved_issues}}</span>
										{% else %}
											<span class="badge" id="no_issue_badge">0</span>
										{% endif %}
									</td>
								</tr>
							{% endfor %}
						</tbody>
					</table>
				</div>
				{% else %}
					<center>
						<br>
						<h3 id="not-available-msg">No tasks to show!</h3>
					</center>
				{% endif %}
			</div>
			<br>
			<br>
			<center>
				<a href="{% url 'uspl:user_task_list_completed' user.id %}" class="btn btn-md btn-primary">Show Completed Tasks</a>
			</center>
			<br>
        </div>
    </div>
</div>
{% endblock %}

{% block news %}
{% if not request.user.profile.is_hr %}
<!-- News -->
<div class="col-sm-2">
	<div class="fixed col-xs-2 sidebar-outer" id="news_col">
		<p id="news_header"><b>Recent Activities</b></p><br>
		<div class="scrollbar">
			{% for news in newses %}
				<div class="row event">
					<div class="col-xs-2 col-md-4 col-lg-3" id="news-pic">
						<a href="{% url 'uspl:employee_profile' news.owner.id %}"><img class="img-circle" id="news_pic" src="{{news.owner.profile.image.url}}"></a>
					</div>
					<div class="col-xs-9 col-md-8 col-lg-9" id="news_msg">
						<p><strong><b><a href="{% url 'uspl:employee_profile' news.owner.id %}">{{news.owner.get_full_name}}</a></b></strong> {{news.message}}<br></p>
						<p><span class="glyphicon glyphicon-time"></span> {{news.created_date}}</p>
					</div>
				</div>
				<hr>
			{% endfor %}
			</div>
				<p id="news_header"><b><a href="{% url 'uspl:news_list' 1 %}">View All</a></b></p>
			</div>
		</div>
	</div>
</div>
{% endif %}
{% endblock %}
{% block external_js %}
	<script type="text/javascript">
		function gotoPage(select){
  		 window.location = select.value;
		}
	</script>
	
	<script>
		// Make monochrome colors
		
		
		// Build the chart
		Highcharts.chart('pie_cont_task', {
		  chart: {
		    plotBackgroundColor: null,
		    plotBorderWidth: null,
		    plotShadow: false,
		    type: 'pie'
		  },
		  title: {
		    text: ''
		  },
			tooltip: {
		    pointFormat: '<b>{point.percentage:.1f}%</b>'
		  },
		  plotOptions: {
		    pie: {
		      allowPointSelect: true,
		      cursor: 'pointer',
		      colors: ['#00245b', '#0b62a4', '#7bcef3', '#C6E2FF'],
		      dataLabels: {
		        enabled: true,
		        format: '{point.percentage:.1f} %',
		        distance: -35,
		        filter: {
		          property: 'percentage',
		          operator: '>',
		          value: 4
		        }
		      }
		    }
		  },
		  series: [{
		    name: 'status',
		    data: [
		    	
			    { name: 'Ongoing', y: {% widthratio tasks_ongoing incomplete_tasks 100 %} },
				{ name: 'Paused', y: {% widthratio tasks_paused incomplete_tasks 100 %} },
				{ name: 'Waiting For Review', y: {% widthratio tasks_submitted incomplete_tasks 100 %} },
				{ name: 'Not Started', y: {% widthratio tasks_not_started incomplete_tasks 100 %} },
		
				
		    ]
		  }]
		});
	</script>
	
{% endblock %}