.quill{
    margin-top: 1em;
    margin-left: 1em;
    margin-right: 1em;
    background-color: #ffffff;
    border-radius: 5%;
}
#text_editor_table {
    min-height: 200px;
    width: auto;
    overflow-y: auto;
    margin-top: 20px;
    border: none;
    height: 200px;
}

.ql-container{
    height: 135px !important;
}

.ant-modal-content{
    padding: 10px !important;
}