#profile_table_row {
  background-color: #e5e5e5;
  height: auto;
}

#detail_table {
  width: 100%;
  height: 35%;
}

/* #profile_table {
  width: 100%;
  margin-top: 15px;
} */

#detail_button {
  text-align: center;
  width: 100%;
  vertical-align: middle;
}

#profile_button {
  height: 40px;
  width: 150px;
  font-size: 12px;
  padding: 10px;
}

.table {
  max-width: 100%;
  margin-bottom: 0px;
}

.table > tbody > tr > td {
  padding: 8px !important;
  border-top: 1px solid #ddd !important;
}

#employee_detail_div {
  background-color: #efefef;
  padding-top: 3em;
  padding-left: 2em;
  padding-right: 2em;
}

table {
  border-collapse: collapse;
}
table td,
table th {
  padding: 5px;
}
