<head>
	<title>Email Sent</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    {% load staticfiles %}
    <link rel="stylesheet" type="text/css" href="{% static 'uspl/css/styles.css' %}" />
    <link rel="shortcut icon" href="{% static 'uspl/img/favicon-32x32.png' %}" type="image/png">
    <link rel="icon" href="{% static 'uspl/img/favicon-32x32.png' %}" type="image/png">
</head>

<body>
    <br><br><br><br><br><br>
    <div id="content-container" class="container p-none">
        <div class="lgn-container col-lg-16">
            <h2 style="text-align:center">Password Reset Instructions Sent!</h2>
            <p style="text-align:center">
                We've emailed you instructions for setting your password, if an account exists with the email you entered.
                You should receive them shortly.
            </p>
            <p style="text-align:center">
                If you don't receive an email, please make sure you've entered your Ulkasemi email address,
                and check your spam folder.
            </p>
            <br><br>
            <h3 style="text-align:center">Return to <a href="{% url 'login' %}">Login</a> Page</h3>
        </div>
    </div>
</body>