.list_header .ant-list-header{
    font-weight: bold;
    background: #17375d;
    color: white;
}
.list_item{
    padding-top: 5px !important;
    padding-bottom: 5px !important;
}

.ant-list-bordered.ant-list-lg .ant-list-footer{
    padding: 0px !important;
}
.payslipcontiner{
    border: 11px solid #eeeeee;
    padding-bottom: 29px;
}