/* .components-table-demo-control-bar {
  margin-right: 16px;
  margin-bottom: 8px;
} */

.start-table {
  margin-top: 15px;
  /* text-align: justify !important; */
}

.prev-page {
  font-size: 15px;
  /* float: left; */
}

.next-page {
  font-size: 15px;
  float: right;
}

.img-circle {
  margin-right: 10px;
}

Tag {
  width: 60px;
  text-align: center;
}
