#UpdateProjectBtn {
  padding: 6px 12px;
  margin-bottom: 1em;
  font-size: 13px;
  font-weight: 600;
  text-align: center;
  color: #ffffff;
  white-space: nowrap;
  vertical-align: middle;
  cursor: pointer;
  border: 1px solid transparent;
  border-radius: 4px;
  background-color: #5cb85c;
  border-color: #4cae4c;
}

#UpdateProjectBtn:hover {
  background-color: #3d823d;
  border-color: #3d823d;
}
