.components-table-demo-control-bar {
  margin-right: 16px;
  margin-bottom: 8px;
}

.start-table {
  margin-top: 15px;
}

.img-circle {
  margin-right: 10px;
}

Tag {
  width: 60px;
  text-align: center;
}
