{% autoescape off %}
<p>Hi {{ task.project.supervisor.first_name }},</p>
<p>{{raised_by.get_full_name}}({{raised_by.username}}) raised an issue for his task "<a href="{{domain}}{% url 'uspl:task_detail' task.id %}"><b>{{task.name}}</b></a>".
<p>{% if issue_effect %}Currently, the task is paused due to this issue.{% endif %}</p>
<br>
<p><b>Issue Details:</b></p>
<p><b>Name:</b> {{issue_name}}</p>
<p><b>Details:</b> {{issue_details|linebreaks}}</p>
<p><b>Task Paused:</b> {% if issue_effect %}Yes{% else %}No{% endif %}</p>
<br>
<p>Sincerely,</p>
<p>The Ulkasemi EMS Team</p>
{% endautoescape %}