{% autoescape off %}
<p>Hi {{ assigned_to.first_name }},</p>
<p>{{task.project.supervisor.get_full_name}} asked for your help to solve an issue called "<a href="{{domain}}{% url 'uspl:issue_detail' issue.id %}"><b>{{issue.name}}</b></a>" raised by
{{issue.raised_by.get_full_name}} for the task "<a href="{{domain}}{% url 'uspl:task_detail' issue.task.id %}"><b>{{issue.task.name}}</b></a>".
<br>
<p><b>Issue Details:</b></p>
<p><b>Name:</b> <a href="{{domain}}{% url 'uspl:issue_detail' issue.id %}">{{issue.name}}</a></p>
<p><b>Details:</b> {{issue.details|linebreaks}}</p>
<br>
<p>Sincerely,</p>
<p>The Ulkasemi EMS Team</p>
{% endautoescape %}